* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.large {
    display: flex;
    justify-content: center;
}

img {
    border: solid 1px black;
    width: 140px;
    height: 130px;
    margin: 3px;
}

#largeImg {
    width: 570px;
    height: 420px;
}