*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 1 задание */
/* .red{
    border: 2px solid red;
    height: 50px;
    width: 50px;
}
.blue{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: relative;
    top: 40px;
    left: 70px;
}
.green{
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: relative;
    top: 80px;
    left: 140px; */
/* } */
/* 2 задание */
/* .red{
    border: 2px solid red;
    height: 50px;
    width: 50px;
}
.blue{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50px;
    left: 70px;
}
.green{
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 100px;
    left: 140px;
} */
/* 3 задание */
/* .red{
    border: 2px solid red;
    height: 50px;
    width: 50px;
}
.blue{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 25px;
    left: 25px;
}
.green{
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50px;
    left: 60px;
} */
/* 4 задание */
/* .red{
    border: 2px solid red;
    height: 50px;
    width: 50px;
    background-color: red;
}
.blue{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 25px;
    left: 25px;
    background-color: blue;
}
.green{
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50px;
    left: 60px;
    background-color: green;
} */
/* 5 задание */
/* .red{
    border: 2px solid red;
    height: 50px;
    width: 50px;
    background-color: red;
}
.blue{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 25px;
    left: 25px;
    background-color: blue;
    z-index: 3;
}
.green{
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50px;
    left: 60px;
    background-color: green;
} */
/* 6 задание */
/* .red{
    border: 2px solid red;
    height: 50px;
    width: 50px;
    background-color: red;
}
.blue{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 25px;
    left: 25px;
    background-color: blue;
    z-index: -1;
}
.green{
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50px;
    left: 60px;
    background-color: green;
} */
/* 7 задание */
/* .red{
    border: 2px solid red;
    height: 50px;
    width: 50px;
    background-color: red;
}
.blue{
    border: 2px solid blue;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 25px;
    left: 25px;
    background-color: blue;
    z-index: -1;
}
.green{
    border: 2px solid green;
    height: 50px;
    width: 50px;
    position: relative;
    bottom: 50px;
    left: 60px;
    background-color: green;
    z-index: -2;

} */
/* 11 задание */



