*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.block{
    border: 5px solid red;
    max-width: 800px;
    margin: 0 auto;
    height: 1500px;
    position: relative;
}
.block div{
    line-height:50px ;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.block_1{
background-color: thistle;
}
.block_2{
background-color: blue;
color: white;
position: fixed;
width: 100%; 
left: 0;
top: 0; 
}
.block_3{
background-color: blueviolet;
position: relative;
z-index: 2;
}