body{
    
    background-image: url('https://www.1zoom.ru/big2/42/194904-Soverein.jpg');
    background-size: 30%; 
    background-position: 50% 100%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
   }