*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* p{
    font-weight: bold;
} */
/* .Block1{
    width: 700px;
    height: 700px;
    border: 2px solid grey;
    background-image: url('https://www.bmw.pl/content/dam/bmw/common/all-models/m-series/m8-coupe/2022/navigation/bmw-8series-coupe-modellfinder.png');
    background-size: 92%; */
     /* background-position: center;  */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* border-radius: 50%;
    box-shadow: 20px 10px 10px 2px blue; */
/* }
.Block2{
    width: 400px;
    height: 300px;
    border: 2px solid red;
    padding: 50px;
    box-sizing: border-box; */
h2{
    margin: 0 0 0 10px;
}
    .Site{
    width: 400px;
    height: 700px;
    border: 1px solid black;
    box-shadow: 3px 3px 15px black;
    margin: 0 0 0 10px;
    padding: 2px;
    

}
.Site p{
    text-align: justify;
    font-style: normal;
}
body{
    background-image: url('https://flomaster.club/uploads/posts/2021-11/thumbs/1636034218_50-flomaster-club-p-krasivie-uzori-vertikalnie-krasivii-risuno-54.png');
 background-repeat: repeat-y;
 background-size: 10%;
 background-position: right;
}